# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# 사용자 홈 디렉터리 관련 파일들
~*
*.swp
*.swo
*.tmp
*.log

# macOS 관련
.DS_Store
.Trash/
.localized

# 다운로드 및 사용자 문서 디렉터리
~/Downloads/
~/Documents/
~/Desktop/

# 특정 확장자 파일 무시
*.hwp
*.png
*.jpg
*.mp4
*.mov
*.zip
*.dmg
*.pdf
*.xlsx
*.ai
*.psd

# 특정 디렉터리 무시
/Applications/
/Movies/
/Music/
/Pictures/
/Public/

# 기타 IDE/OS 생성 파일
.idea/
.vscode/
node_modules/
*.iml
